
<div class="container test">

		<div class="col-3 nav">
			<ul>
				<li><%= link_to "home", pages_home_path %></li>
				<li><%= link_to "home", pages_home_path %></li>
				<li><%= link_to "home", pages_home_path %></li>
			</ul>
		</div>
		<div class="col-4"></div>
		<div class="col-5">
			<div class="banner"><%= image_tag "http://sensuoussandwich.com/Images/SSlogoNew.gif" %></div>
		</div>

</div>


<div class="container">
	<div class="row">
		<div class="col-md-5">
		<p class="map-text">Downtown 163 West Center Street Provo, UT 84601-4431 (801) 377-9244</p>
			<center><div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.903392252599!2d-111.66394392043034!3d40.23345017479107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9754933ee4f5%3A0xfb413646d0db33c!2s163+Center+St%2C+Provo%2C+UT+84601!5e0!3m2!1sen!2sus!4v1509724106049" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div></center>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5">
		<p class="map-text">1680 S State StOrem, UT 84097-8070 (801) 225-9475 Map </p>
			<center><div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.4234675165917!2d-111.68415742042926!3d40.266342472797376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9a6396ee85f5%3A0x905ba30ad123f142!2s1680+State+St%2C+Orem%2C+UT+84097!5e0!3m2!1sen!2sus!4v1509724171825" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div></center>
		</div>
	</div>
</div>





<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>